#titulo{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

#newtarefa,
#mensagem {
    margin: 1%;
    width: 100%;
}

button{
    width: 45%;
    margin-left: 50px;  
}

#mensagem {
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 73, 0);
    color: #ffffff;
}